.flap {
  animation: flap 0.75s steps(3) infinite;
}

@keyframes flap {
  0% {
    background-image: url('/redbird-downflap.png');
  }

  33% {
    background-image: url('/redbird-midflap.png');
  }

  66% {
    background-image: url('/redbird-upflap.png');
  }

  100% {
    background-image: url('/redbird-midflap.png');
  }
}
